@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "McKenna Staley Blog";
}


<!-- header listing preferred name -->
<h1>McKenna</h1>
<br />

<!-- paragraph about what I hope ot learn in IS413 -->
<p>
    IS 413 is a class I am looking forward to because of its challenging nature. While I do not plan to go into programming
    for a career, I recognize the value it will add to me as an employee in the cybersecurity and risk analysis fields of business.
    I am looking forward to gaining a better understanding of MVC, ASP.net, and C#. I am excited to understand how strong
    coding languages work. I believe this will all add to my value and hirability as an employee because it will allow me to
    better think through the complexities of tech-related business issues and better communicate with more technical
    teams at work.
</p><br />

<!-- a photo of me doing something I enjoy -->
<img src="img/IMG_5280.jpg" class="center" alt="McKenna in Disneyland with her husband" />
<br /><br /><br />

<!-- list of the jobs I am interedted in upon gradating -->
<h3>
    Jobs I am interested in:
</h3>
<ol>
    <li>Cybersecurity consultant</li>
    <li>Risk analyst</li>
    <li>Computer forensics investigator</li>
</ol><br /><br />

<!--importing files-->
<script src="js/GradeCalc.js"></script>
