<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <meta charset="utf-8" />
    <title>
        @ViewData["Title"]
    </title>
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">
    <!--importing styling-->
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>

    <!--Nav Bar-->
    <nav>
        <a asp-controller="Grade" asp-action="Index">Home</a>
        <a asp-controller="Grade" asp-action="Calculator">Calculator</a>
    </nav>


    <div>
        @RenderBody()
    </div>

    <!--import bootstrap to layout-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>

</body>
</html>
